@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');

section{
    margin: 20px;
}
.title{
    font-size: 50px;
    font-family: "Rubik Burned", system-ui;
}
.paragraph{
    background-color: #e0e0e0;
    padding: 10px;
}